env/
informe_terreno/__pycache__/
patente_alcohol/__pycache__/
principal/__pycache__/
asesoriaUrbana/__pycache__/
informe_terreno/migrations/__pycache__/__init__.cpython-312.pyc
patente_alcohol/migrations/__pycache__/__init__.cpython-312.pyc
principal/__pycache__/__init__.cpython-312.pyc
principal/__pycache__/admin.cpython-312.pyc
principal/__pycache__/apps.cpython-312.pyc
principal/__pycache__/models.cpython-312.pyc
principal/__pycache__/views.cpython-312.pyc
principal/migrations/__pycache__/__init__.cpython-312.pyc
asesoriaUrbana/__pycache__/
asesoriaUrbana/__pycache__/__init__.cpython-312.pyc
asesoriaUrbana/__pycache__/settings.cpython-312.pyc
asesoriaUrbana/__pycache__/urls.cpython-312.pyc
asesoriaUrbana/__pycache__/wsgi.cpython-312.pyc
asesoriaUrbana/__pycache__/settings.cpython-312.pyc
asesoria_urbana/bnup/migrations/__pycache__
asesoria_urbana/bnup/__pycache__
bnup/__pycache__