{% load static %}
<form id="egresoAUForm" method="post" enctype="multipart/form-data">
  <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
    <h2>Crear Egresos</h2>
    <span class="close material-symbols-outlined" style="color: #E73C45; font-size: 40px;">close</span>
  </div>

  {% csrf_token %}
  <div class="form-group-new-numFecha">
    <div class="form-group">
      <label for="numero_egreso">Número de Egreso</label>
      <input id="numero_egreso" name="numero_egreso" type="number" required class="form-control" style="width: 4rem" />
      <small id="error_numero" class="text-danger" style="display:none; color: red;">
        <div style="display: flex; align-items: center;">
          <span class="material-symbols-outlined" style="color:#E73C45;">info</span><span style="color:#E73C45; font-weight: 600;">Ya existe un egreso con ese número.</span>
        </div>
      </small>
    </div>

    <div class="form-group">
      <label for="fecha_egreso">Fecha de Egreso</label>
      <input id="fecha_egreso" name="fecha_egreso" type="date" required class="form-control" style="width: min-content;" />
    </div>
  </div>
  <div class="form-group">
    <label for="multi_funcionarios">Funcionario(s) responsables</label>

    <div class="multi-select-container">
      <select id="multi_funcionarios" class="select-multiple">
        <option value="" disabled selected>Seleccione...</option>
        {% for f in funcionarios %}
          <option value="{{ f.id }}">{{ f.nombre }}</option>
        {% endfor %}
      </select>

      <div id="funcionariosSeleccionados" class="selected-items"></div>
      <input type="hidden" name="funcionarios_seleccionados" id="funcionariosHidden" />
    </div>
  </div>

  <div class="form-group">
    <label for="destinatario">Destinatario</label>
    <select id="destinatario" name="destinatario" class="form-control">
      <option value="">Seleccione Destinatario...</option>
      {% for d in departamentos %}
        <option value="{{ d.id }}">{{ d.nombre }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="archivo_adjunto">Archivo Adjunto</label>
    <input id="archivo_adjunto" name="archivo_adjunto" type="file" class="file" data-show-preview="false" />
  </div>

  <div class="form-group">
    <label for="descripcion">Descripción</label>
    <!-- 👇 la nueva clase -->
    <textarea id="descripcion" name="descripcion" class="form-control standardize-input" placeholder="Escriba la descripción…"></textarea>
  </div>

  <div class="modal-footer">
    {% comment %} <button type="button" class="btn btn-secondary modal-close">Cancelar</button> {% endcomment %}
    <button type="submit" class="btn btn-primary">Guardar Egreso</button>
  </div>
</form>
