.buttonPreview,
.buttonAgregarIngreso,
.buttonAgregarSalida,
.buttonSubirSalida {
    height: 1.9rem;
    width: auto;
    font-size: .924rem;
    justify-content: space-between;
}

.buttonPreview {
    background: #f7ea53;
}

.buttonSubirSalida {
    background: #ed1c24;
}

.buttonSubirSalida:hover {
    background: #ff7c68;
}

.buttonSubirSalida span,
.buttonSubirSalida p {
    color: black;
}

.iconContainerButton {
    margin-inline: 1rem;
}

#tablaSolicitudes tr td {
    border-inline: 1px #16233E dashed;
}

#tablaSolicitudes tr {
    border-top: 0;
    border-bottom: 1px #16233E dashed;
    

}

.modal-content .modal-info .modal-field.modal-field-field {
    border-bottom: 1px dashed gray;
}