/* PAGINA DE INICIO */

/* Pantallas grandes (desktops) */
@media (min-width: 1272px) and (max-width: 1591px) {

    .cardContent {
        margin: 0px 15px 15px 15px;
        padding: 0.5rem;
    }

    .containerStatistics {
        width: 0rem;
    }

    /* .cardTotalEstadisticas {
        height: 12.5rem;
    } */

    .contentEstadisticas h3 {
        font-size: 1.2rem;
    }

    .contentEstadisticas p {
        font-size: 7rem;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: 10px;
        margin-block: 2.5px;
    }

    .separador {
        height: 40px;
        margin-bottom: 25px;
        margin-inline: 5px;
    }

    .logoSecpla {
        height: 69px;
        margin-bottom: 20px;
        width: 45px;
    }

    .logoAU {
        height: 75px;
        margin-bottom: 10px;
    }

    .logoMuniValpo {
        height: 90px;
    }

    .user {
        font-size: smaller;
    }

    .user-menu ul {
        font-size: smaller;
    }

    .user-menu {
        right: 9.85rem;
        top: 6rem;
    }

    .buttonLogin {
        width: 120px;
        height: 40px;
    }

    .material-symbols-outlined {
        font-size: 20px;
    }

    h1 {
        font-size: x-large;
    }

    .contentMenu {
        font-size: 13px;
    }

    .menu a {

        font-size: medium;
        padding: 5px 7.5px;
        width: auto;


    }

    .menu ul {
        margin-left: 15px;
    }
}


/* PAGINA DE BNUP */

/* Pantallas grandes (desktops) */
@media (min-width: 1272px) and (max-width: 1591px) {
    #tablaSolicitudes {
        font-size: 13px !important;
        margin-top: 10px;
    }

    .tableInfor_container {
        padding: 10px;
    }

    .btnAddBNUP,
    .btnDelBNUP,
    .btnEditBNUP,
    .btnStatsBNUP,
    .btn-back {
        width: 110px !important;
        height: 25px;
        font-size: 13px;
    }

    .btn-back {
        width: 8rem !important;
    }

    /* .cardTotalEstadisticas {
        height: 11.5rem;
    } */

    .contentEstadisticas h3 {
        font-size: 1rem;
    }

    .contentEstadisticas p {
        font-size: 6rem;
    }

    .btn-stats span {
        font-size: 20px;
    }

    .searchContainer span {
        font-size: 18px;
    }

    .searchContainer input {
        font-size: 11px;
        padding: 4px;
        height: 25px;
    }

    .page-btn {
        padding: 2.5px 5px;
    }

    .page-btn span {
        font-size: 18px;

    }

    .page-btn.active {
        font-size: 15px;
    }

    .tableInfor_container th {
        padding: 5px;

    }

    #selectAll,
    .rowCheckbox {
        width: 10px;
    }

    #tablaSolicitudes span {
        font-size: 20px;
    }

    .modal-content {
        font-size: 12px;
        margin: 3.45% auto
    }

    .modal-content .modal-info {
        font-size: 16px;
    }

    #salidaModal .modal-content {
        /* font-size: 12px; */
        margin: 2.45% auto;
        padding: 15px;
    }

    /* .modal-content select {
        font-size: 12px;
        padding: 4px;
    } */

    .modal-content .form-group {
        margin-bottom: 7.5px;
    }

    .modal-content label {
        margin-bottom: 2.5px;
    }

    .modal-content input[type="text"],
    input[type="date"],
    input[type="number"],
    input[type="email"],
    input[type="password"],
    textarea,
    select {
        padding: 4px;
        font-size: 12px;
        height: min-content;
    }

    .modal-content .btn-container .btn {
        font-size: 12px;
        padding: 2.5px;
    }

    .modal-content h2 {
        font-size: 20px;
    }

    .tableInfor_container td {
        padding: 4px;
    }

    #tablaSolicitudes tbody {
        font-size: 14.2px;
    }
}

/* ------------------------ */

/* Pantallas grandes (desktops) */
@media (min-width: 1592px) and (max-width: 1911px) {

    .cardContent {
        margin: 0px 15px 15px 15px;
        padding: 0.5rem;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: 10px;
    }

    .separador {
        height: 40px;
        margin-bottom: 25px;
        margin-inline: 5px;
    }

    .logoSecpla {
        height: 69px;
        margin-bottom: 20px;
        width: 45px;
    }

    .logoAU {
        height: 75px;
        margin-bottom: 10px;
    }

    .logoMuniValpo {
        height: 90px;
    }

    .buttonLogin {
        width: 120px;
        height: 40px;
    }

    .material-symbols-outlined {
        font-size: 20px;
    }

    h1 {
        font-size: x-large;
    }

    .contentMenu {
        font-size: 13px;
    }

    .menu a {

        font-size: medium;
        padding: 5px 7.5px;
        width: auto;


    }

    .menu ul {
        margin-left: 15px;
    }
}


/* PAGINA DE BNUP */

/* Pantallas grandes (desktops) */
@media (min-width: 1592px) and (max-width: 1911px) {
    #tablaSolicitudes {
        font-size: 13px !important;
        margin-top: 10px;
    }

    .tableInfor_container {
        padding: 10px;
    }

    .btnAddBNUP,
    .btnDelBNUP,
    .btnEditBNUP,
    .btnStatsBNUP,
    .btn-back {
        width: 110px !important;
        height: 25px;
        font-size: 13px;
    }

    .btn-back {
        width: 8rem !important;


    }

    .containerStatistics {
        width: 0rem;
    }

    .user-menu {
        right: 10rem;
        top: 6.25rem;
    }


    .btn-stats span {
        font-size: 20px;
    }

    .searchContainer span {
        font-size: 18px;
    }

    .searchContainer input {
        font-size: 11px;
        padding: 4px;
        height: 25px;
    }

    .page-btn {
        padding: 2.5px 5px;
    }

    .page-btn span {
        font-size: 18px;

    }

    .page-btn.active {
        font-size: 15px;
    }

    .tableInfor_container th {
        padding: 5px;

    }

    #selectAll,
    .rowCheckbox {
        width: 10px;
    }

    #tablaSolicitudes span {
        font-size: 20px;
    }

    .modal-content {
        font-size: 12px;
        margin: 3.45% auto
    }

    .modal-content .modal-info {
        font-size: 16px;
    }

    #salidaModal .modal-content {
        /* font-size: 12px; */
        margin: 2.45% auto;
        padding: 15px;
    }

    /* .modal-content select {
        font-size: 12px;
        padding: 4px;
    } */

    .modal-content .form-group {
        margin-bottom: 7.5px;
    }

    .modal-content label {
        margin-bottom: 2.5px;
    }

    .modal-content input[type="text"],
    input[type="date"],
    input[type="number"],
    input[type="email"],
    input[type="password"],
    textarea,
    select {
        padding: 4px;
        font-size: 12px;
        height: min-content;
    }

    .modal-content .btn-container .btn {
        font-size: 12px;
        padding: 2.5px;
    }

    .modal-content h2 {
        font-size: 20px;
    }

    .tableInfor_container td {
        padding: 4px;
    }

    #tablaSolicitudes tbody {
        font-size: 14.2px;
    }
}