/* static/css/styles.css */

@font-face {
  font-family: "HelveticaNeue";
  src: url("/static/fonts/HelveticaNeueBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

/* Helvetica Neue Roman */
@font-face {
  font-family: "HelveticaNeue";
  src: url("/static/fonts/HelveticaNeueRoman.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Helvetica Neue Bold Italic */
@font-face {
  font-family: "HelveticaNeue";
  src: url("/static/fonts/HelveticaNeueBoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

/* Helvetica Neue Italic */
@font-face {
  font-family: "HelveticaNeue";
  src: url("/static/fonts/HelveticaNeueItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

body {
  display: grid;
  justify-items: center;
  align-items: end;
  font-family: "HelveticaNeue";
}

/* Ahora puedes usar la fuente en tu CSS */
h1 {
  font-weight: bold;
  font-style: normal;
  font-size: xx-large;
}

.imagelogo {
  margin: 10px 0px 10px 5px;
  height: 3cm;
}

.header-image {
  position: absolute;
  z-index: 10;
  align-self: start;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.cardMain {
  position: absolute;
  z-index: 10;
  width: 98%;
  height: 97%;
  align-self: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 5px;
  background: rgb(255 255 255 / 75%);
  border: 3px solid cyan;
  /* Simplificación */
  box-shadow: 0 0 15px #4BBFE0;
  /* Resplandor */

  /* Opcional: puedes agregar un efecto de transición para hacer el resplandor más suave */
  transition: box-shadow 0.3s ease-in-out;
}



/* .cardMain__content {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  width: 100%;
  height: 100%;
} */

.head {
  display: flex;
  justify-content: space-between;
  /* Centra horizontalmente todos los hijos dentro de .head */
  align-items: center;
  /* Centra verticalmente todos los hijos dentro de .head */
  position: relative;
}

.logo,
.user {
  display: flex;
  align-items: center;
  /* Asegura que el contenido dentro de .logo y .user esté centrado verticalmente */
}

.tittle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.contentMenu {
  display: flex;
  gap: 0px 0px;
  flex-direction: column;
  width: -webkit-fill-available;
  font-family: 'Trebuchet MS', 'HelveticaNeue';
  font-size: 16px;
}

.menu {
  align-content: start;

  background: rgba(0, 0, 0, 0);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0);
  z-index: 1000;
  transition: background 0.3s;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /* height: -webkit-fill-available; */
  display: flex;
  flex-direction: column;
  width: max-content;
}

.menu li {
  height: -webkit-fill-available;
}

.menu a {
  align-content: center;
  height: 100%;
  width: 240px;
  text-decoration: none;
  color: #000000;
  padding: 10px 15px;
  display: block;

  transition: background 0.3s, color 0.3s, border-color 0.3s;
  font-size: large;

  /* Bordes en todos los lados */
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  /* Bordes translúcidos */
}

/* Efecto hover */
.menu a:hover {
  background: rgba(255, 255, 255, 0.5);
  /* Fondo más brillante al pasar el ratón */
  color: aquamarin;
  /* Cambia el color del texto al pasar el ratón */
  /* border-color: rgba(0, 255, 255, 0.7); */
  /* Bordes brillantes al hacer hover */
  box-shadow: 0 4px 10px rgba(0, 255, 255, 0.5);
  /* Sombra para efecto sofisticado */
}

.cardMain.bright {
  box-shadow: 0 4px 10px rgba(0, 255, 255, 0.5);
  /* Sombra para efecto sofisticado */

  transition: box-shadow 0.3s ease;
  /* Suaviza la transición */
}

.menu a.active {
  background: rgba(255, 255, 255, 0.5);
  /* Fondo más brillante al pasar el ratón */
  /* color: aquamarine; */
  font-weight: bold;
  /* Cambia el color del texto al pasar el ratón */
  border-color: rgba(0, 255, 255, 0.7);
  /* Bordes brillantes al hacer hover */
  box-shadow: 0 4px 10px rgba(0, 255, 255, 0.5);
  /* Sombra para efecto sofisticado */
}

.contenido {
  display: flex;
  flex-direction: row;
  height: -webkit-fill-available;
}

.cardContent {
  height: -webkit-fill-available;
  margin: 0px 25px 25px 25px;
  border-radius: 10px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  overflow: visible;
  font-family: 'Trebuchet MS', 'HelveticaNeue';

}

.card-details {
  color: rgb(162, 0, 255);
  height: 100%;
  gap: .5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-button {
  text-decoration: none;
  text-align: center;
  -webkit-transform: translate(-50%, 125%);
  -ms-transform: translate(-50%, 125%);
  transform: translate(-50%, 125%);
  width: 70%;
  border-radius: 1rem;
  border: none;
  background-color: #6c00f8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  cursor: pointer;
}

.text-body {
  color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
  font-size: 1.5em;
  font-weight: bold;
}

/*Hover*/
.cardContent:hover {
  border-color: cyan;
  box-shadow: 0 0 15px #4BBFE0;
  /* -webkit-box-shadow: 10px 5px 18px 0 rgba(255, 255, 255, 0.877);
  box-shadow: 10px 5px 18px 0 rgba(255, 255, 255, 0.877); */
}

.cardContent:hover .card-button {
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  opacity: 1;
}

/* -------------------------------------- */


.form-container {
  background-color: #C9E8F4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: max-content;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'HelveticaNeue';

  font-size: larger;

}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  /* color: #000; */
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"],
textarea,
select {
  width: 100%;
  height: 30px;
  padding: 8px;
  margin-top: 5px;
  background-color: #E5F4FA;
  border: 1px solid #16233e;
  border-radius: 5px;
  box-sizing: border-box;
}

.checkbox-options {
  display: flex;

  flex-direction: row;
}

.checkbox-options input[type="checkbox"] {
  display: none;
}

.checkbox-options input[type="checkbox"]+label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  user-select: none;
}

.checkbox-options input[type="checkbox"]+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #ff5733;
  border-radius: 3px;
  background-color: transparent;
}

.checkbox-options input[type="checkbox"]:checked+label:before {
  background-color: #ff5733;
}

.checkbox-options input[type="checkbox"]:checked+label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

textarea {
  resize: none;

}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #16233e;
  font-size: 16px;
  cursor: pointer;
  background-color: #FEFBE5;
}

button:hover {
  background-color: #FBF3A7;
}



.container-tableInfo {
  display: flex;
  flex-direction: column;
}


.container {
  background-color: #C9E8F4;
  padding: 20px;
  height: min-content;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}










/* Estilos para la tabla */
#dataTable {
  width: -webkit-fill-available;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 15px;
}

#dataTable th,
#dataTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#dataTable th {
  background-color: #f2f2f2;
  cursor: pointer;
}

#dataTable th:hover {
  background-color: #ddd;
}

#dataTable tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Estilos para el buscador */
#searchInput {
  width: min-content;
  padding: 10px;

  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para la paginación */
#pagination {
  text-align: center;
  margin-top: 10px;
}

#pagination a {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
}

#pagination a.active {
  background-color: #4CAF50;
  color: white;
}

#pagination a:hover {
  background-color: #ddd;
}








.containerSTATS {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stats-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.stat-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  width: calc(50% - 20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stat-card h3 {
  margin-bottom: 15px;
  font-size: 1.25rem;
  color: #333;
}

/* canvas {
  width: 100% !important;
  height: 300px !important;
} */

.divContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

/* #barChart, #pieChart, #lineChart {
  height: 250px !important;
} */



.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}



.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 20px;
  height: 225px;
  width: min-content;
}



.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}