/* static/css/styles.css */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&display=swap');

@font-face {
  font-family: "HelveticaNeue";
  src: url("/static/fonts/HelveticaNeueBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

/* Helvetica Neue Roman */
@font-face {
  font-family: "HelveticaNeue";
  src: url("/static/fonts/HelveticaNeueRoman.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Helvetica Neue Bold Italic */
@font-face {
  font-family: "HelveticaNeue";
  src: url("/static/fonts/HelveticaNeueBoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

/* Helvetica Neue Italic */
@font-face {
  font-family: "HelveticaNeue";
  src: url("/static/fonts/HelveticaNeueItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SpaceMonoNerdFontMono";
  src: url("/static/fonts/SpaceMonoNerdFontMono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DaddyTimeMonoNerdFontMono";
  src: url("/static/fonts/DaddyTimeMonoNerdFontMono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  display: grid;
  justify-items: center;
  align-items: end;
  font-family: "HelveticaNeue";
  background-color: #d5d6dc;
}

/* Ahora puedes usar la fuente en tu CSS */
h1 {
  font-weight: bold;
  font-style: normal;
  font-size: xx-large;
}

.header-image {
  position: absolute;
  z-index: 10;
  align-self: start;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.cardMain {
  position: absolute;
  z-index: 10;
  width: 98%;
  height: 97%;
  align-self: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 5px;
  border: 3px solid cyan;
  box-shadow: 0 0 10px 0px #16233E;
  transition: box-shadow 0.3s ease-in-out;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(230, 244, 250, 1) 30%, rgba(75, 191, 224, 1) 60%, rgba(22, 35, 62, 1) 100%);
}



/* .cardMain__content {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  width: 100%;
  height: 100%;
} */

.head {
  display: flex;
  justify-content: space-between;
  /* Centra horizontalmente todos los hijos dentro de .head */
  align-items: center;
  /* Centra verticalmente todos los hijos dentro de .head */
  position: relative;

  height: min-content;
  margin-bottom: 5px;

}

.logo {
  display: flex;
  align-items: center;

}

.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* style.css */

/* Estilos base para userIdentificador sin color de fondo predeterminado */
.userIdentificador {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0px 1px 5px 0px #16233E;
  /* Eliminamos el background-color predeterminado para usar clases específicas */
  /* background-color: greenyellow; */
}

.bg-admin span,
.bg-admin p,
.bg-privilegiado span,
.bg-privilegiado p,
.bg-alimentador span,
.bg-alimentador p,
.bg-visualizador span,
.bg-visualizador p {
  color: ghostwhite;
}

/* Clases específicas para cada tipo de usuario */
.bg-admin {
  background-color: #1E90FF;
  /* DodgerBlue */
}

.bg-privilegiado {
  background-color: #4c2882;
  /* Tekhelet */
}

.bg-alimentador {
  background-color: #00bb2d;
  /* Dark pastel green */
}

.bg-visualizador {
  background-color: #3f7978;
  /* Myrtle Green */
}

.bg-visualizador .user-menu {
  background-color: #3f7978;

}

/* Clase por defecto en caso de que el tipo de usuario no coincida */
.bg-default {
  background-color: #D3D3D3;
  /* LightGray */
}

/* style.css */

/* Estilos para el menú desplegable */
.user-menu {
  position: absolute;
  right: 11.5rem;
  top: 6.5rem;

  color: ghostwhite;
  border-radius: 10px;
  z-index: 1000;
  width: 200px;
  box-shadow: 0px 1px 5px 0px #16233E;

}

.user-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-menu ul li {
  padding: 10px;
  cursor: pointer;
  color: ghostwhite;
}

.user-menu ul li:hover {
  border-radius: 10px;
}

.bg-admin ul li:hover {
  background-color: #8cb3ff;
}

.bg-privilegiado ul li:hover {
  background-color: #896bab;
}

.bg-alimentador ul li:hover {
  background-color: #7dd377;
}

.bg-visualizador ul li:hover {
  background-color: #669391;
}

/* Estilos para el modal */
.modal {
  display: none;
  /* Oculto por defecto */
  position: fixed;
  z-index: 1001;
  /* Por encima del menú */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  /* Fondo semitransparente */
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  /* Centrar verticalmente */
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  /* Ancho del modal */
  border-radius: 5px;
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  margin: 0;
}

.modal-header .close {
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
}

.modal-body {
  margin-top: 20px;
}

.modal-footer {
  margin-top: 20px;
  text-align: right;
}

.modal .form-group {
  margin-bottom: 15px;
}

.modal .form-group label {
  display: block;
  margin-bottom: 5px;
}

.modal .form-group input[type="password"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.modal .btn {
  padding: 8px 16px;
  background-color: #1E90FF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal .btn:hover {
  background-color: #0b7dda;
}


.separador {
  height: 45px;
  margin-bottom: 25px;
  margin-inline: 5px;
}

.logoSecpla {
  height: 80px;
  margin-bottom: 20px;
  width: 52px;
}

.logoAU {
  height: 8.5rem;
}

.logoMuniValpo {
  height: 8.5rem;
}

.logoIlustreMunicipalidad {
  position: absolute;
  top: 105px;
  width: 280px;
}

.tittle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.contentMenu {
  display: flex;
  gap: 0px 0px;
  flex-direction: column;
  /* width: -webkit-fill-available; */
  height: -webkit-fill-available;
  font-family: 'Trebuchet MS', 'HelveticaNeue';
  font-size: 16px;
}

.menu {
  align-content: start;

  background: rgba(0, 0, 0, 0);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0);
  z-index: 1000;
  transition: background 0.3s;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 25px;
  /* height: -webkit-fill-available; */
  display: flex;
  flex-direction: row;
  width: max-content;
  border-radius: 10px 10px 0px 0px;
  background: #f5f5f5;
  /* border: 2px solid #c3c6ce; */
  box-shadow: 0 0 10px 0px #16233E;
}

.menu li {
  height: -webkit-fill-available;
}

.menu a {

  height: 100%;
  width: 240px;
  text-decoration: none;
  color: ghostwhite;
  background-color: #16233e;
  padding: 10px 15px;
  display: block;
  transition: background 0.3s, color 0.3s, border-color 0.3s;
  font-size: large;
  border: 2px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
}


/* Efecto hover */
.menu a:hover {
  background: #387b8f;
  border-color: cyan;
  /* box-shadow: 0 0 15px #4bbfe0; */
}

.cardMain.bright {
  box-shadow: 0 4px 10px rgba(0, 255, 255, 0.5);
  /* Sombra para efecto sofisticado */

  transition: box-shadow 0.3s ease;
  /* Suaviza la transición */
}

.menu a.active {
  background: rgba(255, 255, 255, 0.5);
  /* Fondo más brillante al pasar el ratón */
  /* color: aquamarine; */
  font-weight: bold;
  /* Cambia el color del texto al pasar el ratón */
  border-color: rgba(0, 255, 255, 0.7);
  /* Bordes brillantes al hacer hover */
  box-shadow: 0 4px 10px rgba(0, 255, 255, 0.5);
  /* Sombra para efecto sofisticado */
}

.contenido {
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
}

.cardContent {
  height: -webkit-fill-available;
  margin: 0px 25px 25px 25px;
  border-radius: 0px 10px 10px 10px;
  background: #f5f5f5;
  position: relative;
  padding: 1rem;
  border: 2px solid #c3c6ce;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  overflow: visible;
  font-family: 'Trebuchet MS', 'HelveticaNeue';
  box-shadow: inset 0 0 10px 2px #16233E;
}

.card-details {
  color: rgb(162, 0, 255);
  height: 100%;
  gap: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-button {
  text-decoration: none;
  text-align: center;
  -webkit-transform: translate(-50%, 125%);
  -ms-transform: translate(-50%, 125%);
  transform: translate(-50%, 125%);
  width: 70%;
  border-radius: 1rem;
  border: none;
  background-color: #6c00f8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  cursor: pointer;
}

.text-body {
  color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
  font-size: 1.5em;
  font-weight: bold;
}

/*Hover*/
.cardContent:hover {
  border-color: cyan;
  box-shadow: inset 0 0 10px 2px #247777;


}

.cardContent:hover .card-button {
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  opacity: 1;
}

/* -------------------------------------- */


.form-container {
  background-color: #C9E8F4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stats-container {
  background-color: #C9E8F4;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: -webkit-fill-available;
}

.div-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* width: min-content !important; */
  justify-content: space-between;
}

h2 {
  text-align: center;
  /* margin-bottom: 20px; */
  font-family: 'HelveticaNeue';
  font-size: larger;
}

.tittleStatistics h2 {
  margin-bottom: 0px;
}

.form-group {
  margin-bottom: 15px;
  gap: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
  /* color: #000; */
  width: max-content;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea,
select {
  width: 100%;
  height: 2.2rem;
  padding: 8px;
  margin-top: 5px;
  background-color: #E5F4FA;
  border: 1px solid #16233e;
  border-radius: 10px;
  box-sizing: border-box;
}

#searchCorreo,
#searchMemo {
  width: 550px;
}

.checkbox-options {
  display: flex;

  flex-direction: row;
}

.checkbox-options input[type="checkbox"] {
  display: none;
}

.checkbox-options input[type="checkbox"]+label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  user-select: none;
}

.checkbox-options input[type="checkbox"]+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #ff5733;
  border-radius: 3px;
  background-color: transparent;
}

.checkbox-options input[type="checkbox"]:checked+label:before {
  background-color: #ff5733;
}

.checkbox-options input[type="checkbox"]:checked+label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

textarea {
  resize: none;
  height: max-content !important;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #16233e;
  font-size: 16px;
  cursor: pointer;
  background-color: #FEFBE5;
}


.container {
  background-color: #C9E8F4;
  padding: 20px;
  height: min-content;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* ESTILOS TABLA */

.tableInfor_container {
  background-color: #C9E8F4;
  padding: 10px;
  border-radius: 10px;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  align-content: space-between;
  box-shadow: 0px 1px 10px 0px #16233E;
}

/* Estilos generales para la tabla */
.tableInfor_container table {
  width: -webkit-fill-available;
  border-collapse: collapse;
  margin-block: 20px 0px;
  font-family: "Roboto Condensed", monospace;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para los encabezados */
.tableInfor_container th {
  background-color: #16233E;
  color: white;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  /* Indicar que es interactivo */
  transition: background-color 0.3s;

}

.tableInfor_container th:hover {
  background-color: #111522;
  border-color: #d5d6dc;
  box-shadow: inset 0 0 10px #000000;
}

/* Estilos para las filas de la tabla */
.tableInfor_container td {
  padding: 8px;
  text-align: left;
}

/* .tableInfor_container .fechaTable {
  font-family: "Lekton", monospace;
} */

/* Alternar el color de fondo para las filas */
.tableInfor_container tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Resaltar una fila cuando el mouse pasa sobre ella */
.tableInfor_container tbody tr:hover {
  background-color: #fef191;
  color: ghostwhite;
  /* font-weight: bold; */
  box-shadow: 0 0 15px #fef191;
  border-radius: 3px;
  padding: 1px;

}

/* Estilo para cuando no hay datos en la tabla */
.tableInfor_container td[colspan] {
  text-align: center;
  color: #888;
  font-style: italic;
}

/* Estilo para el título de las tablas */
.tableInfor_container h3 {
  color: #333;
  font-weight: bold;
  font-size: 1.2em;
}

/* Indicador para el estado no ordenado */
.tableInfor_container th::after {
  content: '⇅';
  /* Indicador para el estado inicial (no ordenado) */
  margin-left: 5px;
  font-size: 0.8em;
  color: #fff;
  /* Ajusta el color según sea necesario */
  opacity: 0.6;
  /* Hacerlo menos prominente que el indicador de orden */
}

/* Indicadores de ordenamiento ascendente y descendente */
.tableInfor_container th.ascending::after {
  content: '▲';
  /* Flecha hacia arriba para ascendente */
  color: #fff;
  /* Cambia el color si es necesario */
  opacity: 1;
}

.tableInfor_container th.descending::after {
  content: '▼';
  /* Flecha hacia abajo para descendente */
  color: #fff;
  /* Cambia el color si es necesario */
  opacity: 1;
}

.tittleTable {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-btn {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: #16233E;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 4px;
  width: min-content;
  box-shadow: 0px 1px 5px 0px #16233E;
  color: ghostwhite !important;

}

.page-btn span {
  color: ghostwhite !important;
}

.page-btn.active {
  border: 2px solid cyan;
  background: #387b8f;
  box-shadow: inset 0px 1px 5px 0px #16233e;

}

.page-btn.active:hover {
  background: #387b8f;
  border-color: cyan;
  /* box-shadow: 0 0 15px #4bbfe0; */
}

.page-btn:hover:not(.active) {
  background: #387b8f;
  /* box-shadow: inset 0px 1px 5px 0px #16233e; */

}

.page-btn:disabled {
  background-color: #16233E;
  cursor: not-allowed;
}

.page-btn.highlight {
  background-color: #ffcc00;
  /* Color de fondo amarillo */
  color: white;
  /* Texto blanco */
  font-weight: bold;
  /* Texto en negrita */
}

.search-container {
  position: relative;
  display: inline-block;
}

input[type="text"] {
  padding-right: 30px;
  /* Espacio para el botón 'X' */
}

.clear-btn {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: none;
  /* Se muestra solo cuando hay texto */
}

input[type="text"]:not(:placeholder-shown)+.clear-btn {
  display: inline;
  /* Mostrar botón solo si el input no está vacío */
}


.containerSTATS {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.stat-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  width: calc(50% - 20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stat-card h3 {
  margin-bottom: 15px;
  font-size: 1.25rem;
  color: #333;
}

/* canvas {
  width: 100% !important;
  height: 300px !important;
} */

.divContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

/* #barChart, #pieChart, #lineChart {
  height: 250px !important;
} */



.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}



.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 20px;
  height: 225px;
  width: min-content;
}



.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #4BBFE0;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #387b8f;
}



.menu a.selected {
  font-weight: bold;
  background: #387b8f;
  border-color: cyan;
  box-shadow: inset 0 0 15px #16233e;
}

.selected-login {
  background: rgba(0, 255, 255, 0.5);
  font-weight: bold;
  /* Cambia el color del texto al pasar el ratón */
  border-color: rgba(0, 255, 255, 0.7);
  /* Bordes brillantes al hacer hover */
  box-shadow: 0 4px 10px rgba(0, 255, 255, 0.5);
  padding: 5px;
  border-radius: 10px;
}

/* Estilos para los botones de estadísticas y volver atrás */
.btn-stats,
.btn-back {
  padding: 5px;
  border: unset;
  border-radius: 10px;
  color: #16233E;
  z-index: 1;
  background: #F7EA53;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
  display: inline-flex;
  font-family: 'Trebuchet MS', 'HelveticaNeue';
  justify-content: center;
  align-items: center;
  width: max-content;
  box-shadow: 0px 1px 5px 0px #16233E;
}

.btn-stats::before,
.btn-back::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 10px;
  background-color: #16233E;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.btn-stats:hover,
.btn-back:hover {
  color: #e8e8e8;
}

.btn-stats:hover::before,
.btn-back:hover::before {
  width: 100%;
}

.btn-stats span,
.btn-back span {
  margin-right: 5px;
  /* Espacio entre el icono y el texto */
  transition: inherit;
  /* Asegura que los iconos hereden la transición de color */
}

.btn-stats:hover span,
.btn-back:hover span {
  color: #e8e8e8;
  /* Cambia el color del ícono al color del texto al hacer hover */
}

#statisticsPages {
  height: 100%;
}

.stats-page {
  height: 100%;
}

.statistics {
  display: flex;
  /* padding: 20px; */
  text-align: center;
  width: 100%;
  height: 100%;
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.tittleStatistics {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.subTittleStatistics {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.subTittleStatistics #paginationStatistics {
  min-width: 190px;
}

.divStatistics {
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 1rem;
}

.subDivStatics-v1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
}

.subDivStatics-v1>div {
  display: flex;
  flex-direction: row;
  height: 50%;
  gap: 1rem;
}

.subDivStatics-v1>div>.containerStatistics {
  width: 100%;
}


.subDivStatics-v2 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.subDivStatics-v3 {
  display: flex;
  height: 50%;
  width: 100%;
  gap: 1rem;
}

.subDivStatics-v3>.containerStatistics {
  width: 100%;
}

.subDivStatics-v4 {
  display: flex;
  height: 50%;
  width: 100%;
  gap: 1rem;
}

.subDivStatics-v4>.containerStatistics {
  width: 100%;
}

.subDivStatics-v5 {
  display: flex;
  height: 50%;
  width: 100%;
  gap: 1rem;
}

.subDivStatics-v5>.containerStatistics {
  width: 100%;
}

.subDivStatics-v6 {
  display: flex;
  height: 50%;
  width: 100%;
  gap: 1rem;
}

.subDivStatics-v6>.containerStatistics {
  width: 100%;
}

/* From Uiverse.io by Pradeepsaranbishnoi */
.cardTotalEstadisticas {
  width: 100%;
  height: 50%;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  background-color: #3a425b;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.5) 0px 2px 15px 0px;
}

.contentEstadisticas {
  position: absolute;
  width: 95%;
  height: 95%;
  background: #16233E;
  border-radius: 10px;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  text-align: center;
  color: ghostwhite;
  overflow: hidden;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.5) 0px 18px 36px -18px inset;
  font-family: "Roboto Condensed", monospace;
}

.contentEstadisticas h3,
.contentEstadisticas p {
  color: ghostwhite;
}

.contentEstadisticas h3 {
  font-size: 1.5rem;
}

.contentEstadisticas p {
  font-size: 3rem;
}

.cardTotalEstadisticas::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 150%;
  background: #4BBFE0;
  background: -webkit-linear-gradient(to right, #3a425b, #4BBFE0, #3a425b);
  background: linear-gradient(to right, #3a425b, #4BBFE0, #3a425b);
  transform-origin: center;
  animation: glowing_401_v1 5s linear infinite;
}

.inverse::before {
  animation: glowing_401_v2 5s linear infinite !important;
}

@keyframes glowing_401_v1 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes glowing_401_v2 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.containerStatistics {
  background-color: #f5f5f5;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%;
  /* Establece que cada div ocupe un tercio del contenedor, menos el espacio del gap */
  box-sizing: border-box;
  /* Asegura que el padding y border estén incluidos en el tamaño del div */
}

.subDivStatics-v2>div {

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* From Uiverse.io by JaydipPrajapati1910 */
.card {
  width: 190px;
  height: 254px;
  border-radius: 20px;
  padding: 2px;
  box-shadow: #111 0 1px 3px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  position: relative;
  cursor: pointer;
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #000, #272727);
  color: #fff;
  border-radius: 17px;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 900;
}

.login-container {
  display: flex;
  height: -webkit-fill-available;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* From Uiverse.io by vinodjangid07 */
.buttonLogin {
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  /* background: #f7ea53; */
  border-radius: 10px;
  color: #16233E;
  font-weight: 600;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: .2s;
  box-shadow: 0px 1px 5px 0px #16233E;
}

.buttonLogout {
  background: #E73C45;
  color: ghostwhite;

}

.buttonLogout:hover {
  background: #f9857f !important;
}

.bell {
  width: auto;
}

.bell path {
  fill: rgb(255, 255, 255);
}

/* .buttonLogin:hover {
  background: #fef191;
} */

.buttonLogin:active {
  transform: scale(0.97);
  transition-duration: .2s;
}

.buttonLogin:hover .bell {
  animation: bellRing 0.9s both;
}

/* bell ringing animation keyframes*/
@keyframes bellRing {

  0%,
  100% {
    transform-origin: top;
  }

  15% {
    transform: rotateZ(10deg);
  }

  30% {
    transform: rotateZ(-10deg);
  }

  45% {
    transform: rotateZ(5deg);
  }

  60% {
    transform: rotateZ(-5deg);
  }

  75% {
    transform: rotateZ(2deg);
  }
}

/* Personaliza el botón de selección de archivo */
.fileinput .btn {
  background-color: #007bff;
  /* Color de fondo personalizado */
  color: #fff;
  /* Color del texto */
}

/* Personaliza el área de vista previa */
.file-preview-frame {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

/* Ocultar el botón de carga dentro de la vista previa */
.kv-upload-progress {
  display: none;
}


/* Estilos para el modal */
.modal {
  display: none;
  /* Oculto por defecto */
  position: fixed;
  /* Fijo en la pantalla */
  z-index: 1000;
  /* Asegura que esté sobre otros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Permite el desplazamiento si el contenido es largo */
  background-color: rgba(0, 0, 0, 0.5);
  /* Fondo semi-transparente */
}

.krajee-default .file-footer-buttons {
  display: flex;
  gap: 1rem;
  float: right;
}

.file-drop-zone {
  min-height: 286px !important;
}

.file-footer-buttons button {
  height: min-content;
  padding: .25rem !important;
}

.modal-dialog.modal-lg {
  max-width: none !important;
  height: 100vh;
  margin: 0;
  padding-inline: 25vw;
  padding-block: 2.5vh;
}

.modal-dialog.modal-lg .modal-content {
  margin: 0;
  max-width: none;
  width: 100%;
  height: 100%;
}

.modal-dialog.modal-lg .modal-content .kv-zoom-body.file-zoom-content.krajee-default.kv-zoom-body.file-zoom-content.krajee-default {
  height: 95% !important;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
}

#salidaModalContent.modal-content {
  margin: 3% auto;
}

#descripcionModal .modal-content {
  width: 80%;
  max-width: 700px !important;
}

.fileinput-remove:not(.fileinput-remove-button) {
  display: none !important;
}



.krajee-default .file-footer-caption {
  margin-bottom: 0px !important;
}

.krajee-default.file-preview-frame {
  width: -webkit-fill-available !important;
}

.krajee-default.file-preview-frame .kv-file-content {
  width: -webkit-fill-available !important;
}

.krajee-default.file-preview-frame .file-thumbnail-footer {
  height: max-content !important;
}

.input-group-sm {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 10px;
}

.input-group-sm .btn {
  width: -webkit-fill-available;
}

.btn-container {
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
  width: 15%;
  justify-content: center;

}


.btn-container .btn {
  padding: 5px;
  font-size: 15px;
  width: 60%;
  height: 2.2rem;
  margin-top: 0px;
}

/* #correoFields #correoSolicitante {
  width: 150px !important;
} */

/* .form-group #numeroIngreso {
  width: 150px;
} */

.input-group-sm span {
  color: ghostwhite;
}

.file-drop-zone-title {
  font-family: 'HelveticaNeue';
  font-size: 25px !important;
}

#tablaSolicitudes {
  font-size: 16px !important;
  font-weight: 500;
}


.icon-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  /* Posicionar el tooltip arriba del icono */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  width: 120px;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  /* Apunta hacia abajo */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.icon-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.swal2-actions {
  flex-wrap: nowrap;
}

.swal2-confirm,
.swal2-cancel {
  color: ghostwhite;
  font-weight: bold;
}

/* Estilo para el preview de la descripción */
.descripcion-preview {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.descripcion-preview::after {
  content: '';
  position: absolute;
  right: 25px;
  bottom: 0;
  width: 75px;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #c9e8f4 75%);
}

.descripcion-preview:hover .material-symbols-outlined {
  color: #E73C45;
  transition: color 0.3s ease-in-out;
  /* Cambia 0.3s al tiempo que prefieras */
}

.descripcion-icon {
  margin-left: 5px;
  color: #4BBFE0;
}

.modal-field-field {
  display: flex;
  justify-content: space-between;

}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.tableInfor_container tr:nth-child(even) .descripcion-preview::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #f2f2f2 75%);
}

.tableInfor_container tr.highlight-row:nth-child(even) .descripcion-preview::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #F7EA53 75%);
}

.highlight-row {
  background-color: #F7EA53;
  color: ghostwhite;
  font-weight: bold;
  box-shadow: 0 0 15px #F7EA53;
  border-radius: 3px;
  padding: 1px;
}

.btn-stats span {
  color: #16233E;
}

.fila-marcada {
  background-color: #62ff95;
  /* font-weight: bold; */
  box-shadow: 0 0 15px #62ff95;
  border-radius: 3px;
  padding: 1px;
}

/* Alternar el color de fondo para las filas */
.tableInfor_container tr.fila-marcada:nth-child(even) {
  background-color: #62ff95;
}

.tableInfor_container tr.fila-marcada:nth-child(even):hover {
  background-color: #fef191;
}

.tableInfor_container tr.fila-marcada:nth-child(even):hover .descripcion-preview::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #fef191 75%);
}

.tableInfor_container tr.highlight-row.fila-marcada:nth-child(even) {
  background-color: #62ff95;
}

.fila-marcada .descripcion-preview::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #62ff95 75%);
}

.tableInfor_container tr.fila-marcada:nth-child(even) .descripcion-preview::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #62ff95 75%);
}

tr.highlight-row.fila-marcada .descripcion-preview::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #62ff95 75%);
}

/* Estilos para las filas de la tabla */
/* .tableInfor_container tr.fila-marcada td { 
  color: ghostwhite;
} */

/* Deshabilitar los clics en la celda */
.non-clickable {
  pointer-events: none;
  /* Deshabilita los clics en la celda */
}

/* Permitir los clics solo en el checkbox dentro de la celda */
.non-clickable input[type="checkbox"] {
  pointer-events: auto;
  /* Reactiva los clics solo en el checkbox */
}


.tableInfor_container tr.highlight-row:nth-child(even) {
  background-color: #F7EA53;
}

tr.highlight-row .descripcion-preview::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #F7EA53 75%);
}

.tableInfor_container tr.highlight-row:nth-child(even):hover .descripcion-preview:hover::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #fef191 75%);
}

.tableInfor_container tr.highlight-row:hover:nth-child(even) .descripcion-preview::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #fef191 75%);
}

.tableInfor_container tr:hover .descripcion-preview::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #fef191 75%);
}

.tableInfor_container tr.highlight-row:hover:nth-child(even) {
  background-color: #fef191 !important;
}

tr.highlight-row:hover .descripcion-preview::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #fef191 75%);

}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
  background-color: #4BBFE0 !important;
  color: #fff;

}

.inputLoginContainer {
  display: flex;
  flex-direction: row;
  background: #e5f4fa;
  border: solid 1px black;
  border-radius: 10px;
  align-items: center;
}


.inputLoginContainer span {
  margin-inline: 2px;
  transition: color 0.3s ease-in-out;
}

.inputLoginContainer span {
  color: #16233E;
}

/* Cambia el color del span cuando el input tiene foco */
.inputLoginContainer:focus-within span {
  color: #387b8f;
}

.inputLoginContainer:focus-within {
  border: solid 1px #387b8f;
  transition: border 0.3s ease-in-out;

}

.inputLoginContainer:hover span {
  color: #4BBFE0;
}


/* Estilo base para el contenedor de búsqueda */
.searchContainer {
  display: flex;
  align-items: center;
  background-color: #e5f4fa;
  border: solid 1px #16233e;
  border-radius: 10px;
  transition: border 0.3s ease-in-out;
}

/* Estilo base para el ícono de búsqueda */
.searchContainer span {
  margin-inline: 2px;
  color: #16233E;
  transition: color 0.3s ease-in-out;
}

/* Estilo base para el input de búsqueda */
.searchContainer input {
  width: 500px;
  margin-top: 0px;
  border: 0px;
  outline: none;
}

/* Cambiar color del borde y del ícono cuando se hace hover */
.searchContainer:hover span {
  color: #4BBFE0;
}

/* Cambiar el color del borde y del ícono cuando el input tiene foco */
.searchContainer:focus-within {
  border-color: #387b8f;
}

.searchContainer:focus-within span {
  color: #387b8f;
}


.modal-content table {
  width: -webkit-fill-available;
  border-collapse: collapse;
  margin-block: 20px 20px;
  font-family: "Roboto Condensed", monospace;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px !important;
  font-weight: 500;
}

.modal-content table th {
  background-color: #16233E;
  color: white;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-content table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.modal-content .btn-expand {
  display: flex;
  background-color: #00ff7f;
  border: solid 1px black;
  border-radius: 10px;
  padding: 5px;
  margin: 0px;
  width: min-content;
}

/* styles.css */

/* Limitar el movimiento vertical de fadeInDown */
@keyframes customFadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
    /* Reducir el desplazamiento */
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes customFadeOutUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-10px);
    /* Reducir el desplazamiento */
  }
}

/* Crear nuevas clases de animación con los keyframes personalizados */
.animate__customFadeInDown {
  animation: customFadeInDown 0.5s ease forwards;
}

.animate__customFadeOutUp {
  animation: customFadeOutUp 0.5s ease forwards;
}

.hidden-table {
  display: none;
}

.notificacion-no-edit {
  background: lightyellow;
  border: 0.5px solid darkgoldenrod;
  border-radius: 10px;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;

  span {
    color: darkgoldenrod;
  }
}

/* ------------------------------ */



.total-card {
  background-color: #16233E;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: -webkit-fill-available;
  font-family: "Chakra Petch", sans-serif;
}

.total-card h3 {
  margin-bottom: 10px;
  color: ghostwhite;
}

.total-card p {
  font-size: 48px;
  margin: 0;
  color: ghostwhite;
}

#addDeptoButton,
#saveNewDeptoButton,
#cancelNewDeptoButton,
.addSalidaFuncionarioBtn,
.addFuncionarioBtn,
.removeSalidaFuncionarioBtn,
.removeFuncionarioBtn {
  margin: 0rem;
  padding: 0rem;
  max-width: 2.5rem;
  height: 2rem;

}

#addDeptoButton,
.addFuncionarioBtn,
.addSalidaFuncionarioBtn {
  background-color: #00bb2d !important;
}

#addDeptoButton:hover,
.addFuncionarioBtn:hover,
.addSalidaFuncionarioBtn:hover {
  background-color: #04e639 !important;
}

#saveNewDeptoButton {
  background-color: #4BBFE0;
}

#cancelNewDeptoButton,
.removeFuncionarioBtn,
.removeSalidaFuncionarioBtn {
  background-color: #E73C45 !important;
}

#cancelNewDeptoButton:hover,
.removeFuncionarioBtn:hover,
.removeSalidaFuncionarioBtn:hover {
  background-color: #e65a61 !important;
}


.btn-icon span {
  color: ghostwhite;
}

#funcionarios_asignados {
  white-space: pre-wrap;
}