/* static/css/styles.css */

@font-face {
  font-family: "HelveticaNeue";
  src: url("/static/fonts/HelveticaNeueBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

/* Helvetica Neue Roman */
@font-face {
  font-family: "HelveticaNeue";
  src: url("/static/fonts/HelveticaNeueRoman.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Helvetica Neue Bold Italic */
@font-face {
  font-family: "HelveticaNeue";
  src: url("/static/fonts/HelveticaNeueBoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

/* Helvetica Neue Italic */
@font-face {
  font-family: "HelveticaNeue";
  src: url("/static/fonts/HelveticaNeueItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

body {
  display: grid;
  justify-items: center;
  align-items: end;
  font-family: "HelveticaNeue";
}

/* Ahora puedes usar la fuente en tu CSS */
h1 {
  font-weight: bold;
  font-style: normal;
  font-size: xx-large;
}

.imagelogo {
  margin: 10px 0px 10px 5px;
  height: 3cm;
}

.header-image {
  position: absolute;
  z-index: 10;
  align-self: start;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.cardMain {
  position: absolute;
  z-index: 10;
  width: 98%;
  height: 97%;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.head {
  display: flex;
  justify-content: space-between;
  /* Centra horizontalmente todos los hijos dentro de .head */
  align-items: center;
  /* Centra verticalmente todos los hijos dentro de .head */
  position: relative;
}

.logo,
.user {
  display: flex;
  align-items: center;
  /* Asegura que el contenido dentro de .logo y .user esté centrado verticalmente */
}

.tittle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.contentMenu {
  display: flex;
  gap: 0px 0px;
  flex-direction: column;
  width: -webkit-fill-available;
}

.menu {
  align-content: start;

  background: rgba(0, 0, 0, 0);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0);
  z-index: 1000;
  transition: background 0.3s;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /* height: -webkit-fill-available; */
  display: flex;
  flex-direction: column;
  width: max-content;
}

.menu li {
  height: -webkit-fill-available;
}

.menu a {
  align-content: center;  
  height: 100%;
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  display: block;

  transition: background 0.3s, color 0.3s, border-color 0.3s;
  font-size: large;

  /* Bordes en todos los lados */
  border: 3px solid rgba(255, 255, 255, 0.1);
  /* Bordes translúcidos */
}

/* Efecto hover */
.menu a:hover {
  background: rgba(0, 0, 0, 0.5);
  /* Fondo más brillante al pasar el ratón */
  color: aquamarine;
  /* Cambia el color del texto al pasar el ratón */
  border-color: rgba(0, 255, 255, 0.7);
  /* Bordes brillantes al hacer hover */
  box-shadow: 0 4px 10px rgba(0, 255, 255, 0.5);
  /* Sombra para efecto sofisticado */
}

.cardMain.bright {
  box-shadow: 0 4px 10px rgba(0, 255, 255, 0.5);
  /* Sombra para efecto sofisticado */

  transition: box-shadow 0.3s ease;
  /* Suaviza la transición */
}

.menu a.active {
  background: rgba(0, 0, 0, 0.5);
  /* Fondo más brillante al pasar el ratón */
  color: aquamarine;
  /* Cambia el color del texto al pasar el ratón */
  border-color: rgba(0, 255, 255, 0.7);
  /* Bordes brillantes al hacer hover */
  box-shadow: 0 4px 10px rgba(0, 255, 255, 0.5);
  /* Sombra para efecto sofisticado */
}

.contenido {
  display: flex;
  flex-direction: row;
  height: -webkit-fill-available;
}

#description {
  height: -webkit-fill-available;
}
