<!-- patente_alcohol/templates/patente_alcohol/form.html -->

{% load static %}
<link rel="stylesheet" href="{% static 'css/patente_alcohol.css' %}" />

<div class="cardContent">
  <div class="card-details">
    <h1>Formulario Patente de Alcohol</h1>
    <div class="containerPatenteAlcohol">
      <div class="containerFormPatenteAlcohol">
        <form id="patenteForm">
          {% csrf_token %}
          <h3>Datos del Solicitante</h3>
          <div class="formContainer">
            <div class="form-group">
              <label for="nombre">Nombre Completo</label>
              <input type="text" name="nombre" id="nombre" required class="standardize-input" />
            </div>
            <div class="form-group">
              <label for="telefono">Teléfono</label>
              <input type="text" name="telefono" id="telefono" />
            </div>
            <div class="form-group" style="width: 15rem;">
              <label for="correo">Correo Electrónico</label>
              <input type="email" name="correo" id="correo" />
            </div>
          </div>
          <h3>Ubicación</h3>
          <div class="formContainer">
            <div class="form-group">
              <label for="calle">Calle</label>
              <input type="text" name="calle" id="calle" required class="standardize-input" />
            </div>
            <div class="form-group">
              <label for="numero">Número</label>
              <input type="text" name="numero" id="numero" />
            </div>
            <div class="form-group">
              <label for="departamento">Departamento (opcional)</label>
              <input type="text" name="departamento" id="departamento" />
            </div>
            <div class="form-group">
              <label for="cerro">Cerro</label>
              <select name="cerro_id" id="cerro" required>
                <option value="" disabled selected>Seleccione un cerro</option>
                {% for cerro in cerros %}
                  <option value="{{ cerro.id }}">{{ cerro.nombre }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <h3>Datos de la Solicitud</h3>
          <div class="form-group">
            <label for="rol_avaluo">Rol de Avalúo</label>
            <input type="text" name="rol_avaluo" id="rol_avaluo" required />
          </div>

          <button type="submit" class="btn btn-primary">Enviar Solicitud</button>
        </form>
      </div>

      {% if user.is_authenticated %}
        <div class="tableInfor_container">
          <h2>Solicitudes de Patente de Alcohol</h2>
          <div class="containerSearchPagination">
            <div class="searchContainer">
              <span class="material-symbols-outlined">search</span>
              <input type="text" id="searchSolicitudes" placeholder="Buscar solicitudes..." />
            </div>
            <div id="paginationSolicitudes" class="pagination"></div>
          </div>
          <table id="tablaSolicitudes" class="hidden-table">
            <thead>
              <tr>
                <th data-type="number" class="nIngre">Nº Ingreso</th>
                <th data-type="string">Rol Avalúo</th>
                <th data-type="date">Fecha Ingreso</th>
                <th data-type="string">Solicitante</th>
                <th data-type="string">Cerro</th>
                <th data-type="string">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for solicitud in solicitudes %}
                <tr>
                  <td>{{ solicitud.numero_ingreso }}</td>
                  <td>{{ solicitud.rol_avaluo }}</td>
                  <td>{{ solicitud.fecha_ingreso|date:'d/m/Y' }}</td>
                  <td>{{ solicitud.solicitante.nombre }}</td>
                  <td>{{ solicitud.ubicacion.cerro.nombre }}</td>
                  <td>
                    <!-- Botones de acción, por ejemplo, ver detalles -->
                    <button onclick="openDescripcionModal('{{ solicitud.id }}')">Ver Detalles</button>
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="6">No hay solicitudes disponibles.</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <div class="additionalInfo">
          <img src="{% static 'images/info.png' %}" alt="Información" style="max-width: 200px;" />
          <p>Para ver todas las solicitudes de Patente de Alcohol, por favor inicia sesión con tus credenciales.</p>
        </div>
      {% endif %}
    </div>
  </div>
</div>
