<div class="cardContent">
  <div class="card-details" style="flex-direction: column;justify-content: flex-start;">
    <h1>Formulario Patente de Alcohol</h1>
    <!-- Aquí puedes agregar tu formulario -->
    <div style="display: flex;flex-direction: column;align-items: center;height: -webkit-fill-available;justify-content: center;">
      <span class="material-symbols-outlined" style="font-size: 250px;">construction</span>
      <h3 style="font-size: 50px;">EN CONSTRUCCIÓN</h3>
    </div>
  </div>
</div>
