.cardMain {
  position: absolute;
  z-index: 10;
  width: 75%;
  height: 70%;
  background: rgba(0, 0, 0, 0.500);
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: center;
  grid-template-columns: 0.25fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". contentMenu";
}

.contentMenu {
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "."
    "."; 
  grid-area: contentMenu;
  width: 100%;
  height: 100%;
}



body {
  display: grid;
  justify-items: center;
  align-items: center;  

  font-family: monospace;

}


.menu {
  align-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0); /* Fondo transparente */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0);
  z-index: 1000;
  transition: background 0.3s;
}

.menu ul {
  height: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  /* margin: 20px 0; */
  height: 25%;
}

.menu a {
  align-content: center;
  text-align-last: center;
  height: 100%;
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  display: block;
  
  transition: background 0.3s, color 0.3s, border-color 0.3s;
  font-size: x-large;

  /* Bordes en todos los lados */
  border: 3px solid rgba(255, 255, 255, 0.1); /* Bordes translúcidos */

}

/* Efecto hover */
.menu a:hover {
  background: rgba(0, 0, 0, 0.5); /* Fondo más brillante al pasar el ratón */
  color: aquamarine; /* Cambia el color del texto al pasar el ratón */
  border-color: rgba(0, 255, 255, 0.7); /* Bordes brillantes al hacer hover */
  box-shadow: 0 4px 10px rgba(0, 255, 255, 0.5); /* Sombra para efecto sofisticado */
}

.cardMain.bright {
  box-shadow: 0 4px 10px rgba(0, 255, 255, 0.5); /* Sombra para efecto sofisticado */

  transition: box-shadow 0.3s ease; /* Suaviza la transición */
}

.menu a.active {
  background: rgba(0, 0, 0, 0.5); /* Fondo más brillante al pasar el ratón */
  color: aquamarine; /* Cambia el color del texto al pasar el ratón */
  border-color: rgba(0, 255, 255, 0.7); /* Bordes brillantes al hacer hover */
  box-shadow: 0 4px 10px rgba(0, 255, 255, 0.5); /* Sombra para efecto sofisticado */

}

