{% extends 'base.html' %}

{% block title %}Asesoria Urbana{% endblock %}

{% block content %}
<div class="menu">
    <ul>
        <li><a style="border-radius: 50px 0 0 0;" href="#" data-content="BNUP">BNUP</a></li>
        <li><a href="#" data-content="PATENTE DE ALCOHOL">PATENTE DE ALCOHOL</a></li>
        <li><a href="#" data-content="OTROS">OTROS</a></li>
        <li><a style="border-radius: 0 0 0 50px;" href="#" data-content="PORTAL DE TRANSPARENCIA">PORTAL DE TRANSPARENCIA</a></li>
    </ul>
</div>

<div class="contentMenu" style="border-radius: 0px 50px 50px 0;">
    <div id="title">
        <h1>Asesoria Urbana</h1>
    </div>
    <div id="description">
        <p>Una breve descripción sobre la asesoría urbana.</p>
    </div>
</div>


{% endblock %}
