{% extends 'base.html' %}

{% block title %}Asesoria Urbana{% endblock %}

{% block content %}
<div class="menu">
    <ul>
        <li><a style="border-radius: 50px 0 0 0;" href="#" data-content="BNUP">BNUP</a></li>
        <li><a href="#" data-content="PATENTE DE ALCOHOL">Patente de Alchol</a></li>
        <li><a href="#" data-content="OTROS">Informe de Terreno</a></li>
        <li><a style="border-radius: 0 0 0 50px;" href="#" data-content="PORTAL DE TRANSPARENCIA">Portal de
                Transparencia</a></li>
    </ul>
</div>

<div class="contentMenu" style="border-radius: 0px 50px 50px 0;">
    <div id="title">
        <h1>Departamento de Asesoría Urbana de la Municipalidad de Valparaíso</h1>
    </div>
    <div id="description">
        <p>
            Bienvenido al Departamento de Asesoría Urbana de la Municipalidad de Valparaíso. Nuestro objetivo es ofrecer
            orientación y apoyo técnico en urbanismo, planificación territorial y desarrollo urbano a ciudadanos,
            profesionales y entidades públicas y privadas.<br>

            ¿Qué Hacemos?<br>
            Planificación Territorial<br>
            <br>
            Asesoría en la elaboración y modificación de Planes Reguladores Comunales e Intercomunales.<br>
            Estudios técnicos sobre movilidad, infraestructura y riesgos naturales.<br>
            Gestión de Permisos y Trámites<br>
            <br>                
            Orientación en la obtención de permisos de edificación y urbanización.<br>
            Ayuda en la regularización de construcciones existentes.<br>
            Consultoría en Normativa Urbanística<br>
            <br>
            Interpretación y aplicación de la Ley General de Urbanismo y Construcciones (LGUC) y la Ordenanza General de
            Urbanismo y Construcciones (OGUC).<br>
            Desarrollo de Proyectos Urbanos<br>
            <br>
            Diseño y planificación de espacios públicos, movilidad y accesibilidad.<br>
            Implementación de medidas de sustentabilidad urbana.<br>
            Capacitación y Difusión<br>
            <br>
            Organización de talleres y seminarios.<br>
            Publicación de guías y boletines informativos.<br>
            Atención al Ciudadano<br>
            <br>
            Atención personalizada para resolver dudas y proporcionar información sobre trámites y normativas.<br>
            Acceso a documentos y recursos útiles a través de nuestra plataforma en línea.</p><br>
    </div>
</div>


{% endblock %}