<div class="cardContent">
  <div class="card-details" style="flex-direction: column;">
    <button id="backToInicio" class="btn-back"><span class="material-symbols-outlined">home</span> Volver al Inicio</button>
    <div class="login-container">
      {% if messages %}
        <div class="messages">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
      <form class="form-container" action="{% url 'login' %}" method="POST" style="display: flex;flex-direction: column;gap: 5px;">
        <h2 style="text-align: left;font-size: xx-large;">Iniciar Sesión</h2>

        {% csrf_token %}
        <label for="username">Correo Electrónico:</label>
        <div class="inputLoginContainer">
          <span class="material-symbols-outlined">mail</span>
          <input type="text" id="username" name="username" required placeholder="ejemplo@munivalpo.cl" />
        </div>
        <label for="password">Contraseña:</label>
        <div class="inputLoginContainer">
          <span class="material-symbols-outlined">lock</span>
          <input type="password" id="password" name="password" required placeholder="××××××" />
        </div>
        <button class="btn" type="submit" style="margin-top: 10px;">Entrar</button>
      </form>
      {% comment %} <a href="{% url 'logout' %}" class="btn-back"><span class="material-symbols-outlined">logout</span> Cerrar Sesión</a> {% endcomment %}
    </div>
  </div>
</div>
