<div class="cardContent">
  <div class="card-details" style="flex-direction: column; justify-content: flex-start;">
    <div id="title">
      <h1>Mapoteca</h1>
    </div>
    <div id="description">
      <p>Bienvenido a la Mapoteca Digital de la SECPLA (Secretaría Comunal de Planificación) de Valparaíso. En esta sección, puedes acceder a una variedad de mapas digitales relacionados con la planificación y gestión de la comuna. Nuestro objetivo es proporcionar herramientas visuales que faciliten la comprensión de los datos geográficos y el desarrollo urbano de Valparaíso.</p>
      <br />
      
      <p>En la Mapoteca Digital, puedes encontrar:</p>
      <br />
      
      <ul>
        <li>Mapas de zonificación</li><br />
        <li>Mapas de uso del suelo</li><br />
        <li>Mapas de infraestructuras</li><br />
        <li>Mapas históricos</li><br />
        <li>Y mucho más</li><br />
      </ul>
      <br />
      
      <p>Para más detalles, accede a la Mapoteca Digital a través del siguiente enlace.</p>
      <br />
      
      <a href="http://192.168.12.10:8000/Mapoteca%20Digital/" target="_blank" class="btn">Acceder a la Mapoteca Digital</a>
      <br />
    </div>
  </div>
</div>
