<div class="cardContent">
  <div class="card-details" style="flex-direction: column;justify-content: flex-start;">
    <div id="title">
      <h1>Portal de Transparencia</h1>
    </div>
    <div id="description">
      <p>Bienvenido al Portal de Transparencia de la SECPLA (Secretaría Comunal de Planificación) de Valparaíso. En esta página, puedes acceder a toda la información pública relacionada con las actividades, proyectos, financiamientos, y decisiones administrativas que realiza nuestra Secretaría. Nuestro objetivo es promover la transparencia y el acceso a la información pública, garantizando a la ciudadanía la posibilidad de conocer y participar en los procesos de gestión y planificación de nuestra comuna.</p>
      <br />

      <p>En el sitio web oficial del Portal de Transparencia, puedes encontrar:</p>
      <br />

      <ul>
        <li>Documentos oficiales y normativas</li><br />
        <li>Proyectos y programas en ejecución</li><br />
        <li>Información sobre financiamiento y presupuestos</li><br />
        <li>Actas y acuerdos del consejo comunal</li><br />
        <li>Y mucho más</li><br />
      </ul>
      <br />

      <p>Para más detalles, visita nuestro sitio oficial a través del siguiente enlace.</p>
      <br />

      <a href="http://transparenciasecpla.munivalpo.cl/" target="_blank" class="btn">Visitar Portal de Transparencia</a>

      <br />
    </div>
  </div>
</div>
