@media screen and (min-width:1280px) and (max-width:1366px) and (min-height:607px) and (max-height:768px) {
    #bnupData .card-details {
        gap: .5rem;
    }

    #bnupData .tableInfor_container {
        padding: .5rem;
    }

    #bnupData .tableInfor_container .estructura-tabla {
        gap: .5rem;
    }

    .btnAddBNUP,
    .btnDelBNUP,
    .btnEditBNUP,
    .btnStatsBNUP,
    .btn-back,
    .btnEgresosAU,
    .btnAddEgreso,
    .btnDelEgresoAU,
    .btnEditEgresoAU,
    #btnEditarSalidas {
        width: 110px;
        height: 25px;
        font-size: 13px;
    }

    #btnEliminarSalidas,
    #btnEditarSalidas {
        width: 110px;
    }

    .btnAddEgreso,
    .btn-back {
        width: max-content;
    }

    .btnEgresosAU {
        width: 120px !important;
    }

    .searchContainer,
    .searchContainerEgresosAU {
        width: 20rem;
    }

    .search-filters-container #filterPanel {
        top: 15px;
        right: -110px;
    }

    #btnToggleFilters,
    #btnResetFilters,
    #btnToggleFiltersEgresosAU,
    #btnResetFiltersEgresosAU {
        height: 25px;
    }

    #btnToggleFilters span,
    #btnResetFilters span,
    #btnToggleFiltersEgresosAU span,
    #btnResetFiltersEgresosAU span {
        font-size: 13px;
    }

    #btnToggleFilters .material-symbols-outlined,
    #btnResetFilters .material-symbols-outlined,
    #btnToggleFiltersEgresosAU .material-symbols-outlined,
    #btnResetFiltersEgresosAU .material-symbols-outlined {
        font-size: 20px;
    }

    #btnToggleFilters p,
    #btnResetFilters p,
    #btnToggleFiltersEgresosAU p,
    #btnResetFiltersEgresosAU p {
        font-size: 13px;
    }

    #guardarEdicionSalida.btn.btn-primary {
        margin-top: .5rem;
    }
}

@media screen and (min-width:1367px) and (max-width:1600px) and (min-height:769px) and (max-height:900px) {
    #bnupData .card-details {
        gap: .75rem;
    }

    #bnupData .tableInfor_container {
        padding: .75rem;
    }

    #bnupData .tableInfor_container .estructura-tabla {
        gap: .75rem;
    }

    .btnAddBNUP,
    .btnDelBNUP,
    .btnEditBNUP,
    .btnStatsBNUP,
    .btn-back,
    .btnEgresosAU,
    .btnAddEgreso,
    .btnDelEgresoAU,
    .btnEditEgresoAU,
    #btnEditarSalidas {
        width: 125px;
        height: 30px;
        font-size: 15px;
    }

    #btnEliminarSalidas,
    #btnEditarSalidas {
        width: 110px;
    }

    .btnAddEgreso,
    .btn-back {
        width: max-content;
    }

    .btnEgresosAU {
        width: 120px !important;
    }

    .searchContainer,
    .searchContainerEgresosAU {
        width: 25rem;
    }

    .search-filters-container #filterPanel {
        top: 15px;
        right: -130px;
    }

    #btnToggleFilters,
    #btnResetFilters,
    #btnToggleFiltersEgresosAU,
    #btnResetFiltersEgresosAU {
        height: 30px;
    }

    #btnToggleFilters span,
    #btnResetFilters span,
    #btnToggleFiltersEgresosAU span,
    #btnResetFiltersEgresosAU span {
        font-size: 13px;
    }

    #btnToggleFilters .material-symbols-outlined,
    #btnResetFilters .material-symbols-outlined,
    #btnToggleFiltersEgresosAU .material-symbols-outlined,
    #btnResetFiltersEgresosAU .material-symbols-outlined {
        font-size: 20px;
    }

    #btnToggleFilters p,
    #btnResetFilters p,
    #btnToggleFiltersEgresosAU p,
    #btnResetFiltersEgresosAU p {
        font-size: 13px;
    }

    #guardarEdicionSalida.btn.btn-primary {
        margin-top: .5rem;
    }
}

@media screen and (min-width:1365px) and (max-width:1367px) and (min-height:767px) and (max-height:769px) {
    .search-filters-container #filterPanel {
        right: -100px;
    }
}

@media screen and (min-width:1279px) and (max-width:1281px) and (min-height:719px) and (max-height:721px) {
    .search-filters-container #filterPanel {
        right: -145px;
    }
}