<div class="cardContent">
  <div class="card-details">
    <div class="div-container">
      <!-- Asegúrate de que el botón tenga el ID correcto -->
      <button id="statisticsButton" class="btn-stats"><span class="material-symbols-outlined">query_stats</span> Estadísticas</button>

      <div class="form-container">
        <!-- Formulario para ingresar nuevas solicitudes -->
        <form id="bnupForm" method="post" action="{% url 'bnup_form' %}">
          {% csrf_token %}
          <h2>Solicitud de BNUP</h2>
          <div class="form-group" style="display: flex;">
            <div>
              <label>Tipo de Recepción</label>
              <div class="radio-group">
                <label for="memo"><input type="radio" id="memo" name="tipo_recepcion" value="1" checked />Memo</label>
                <label for="correo"><input type="radio" id="correo" name="tipo_recepcion" value="2" />Correo</label>
              </div>
            </div>
            <div id="memoFields" class="form-group" style="display: none;">
              <label for="num_memo">Ingrese N° de Memo:</label>
              <input type="number" name="num_memo" id="num_memo" />
            </div>
            <div id="correoFields" class="form-group" style="display: none;">
              <label for="correoSolicitante">Ingrese Correo:</label>
              <input type="email" name="correo_solicitante" id="correoSolicitante" />
            </div>
          </div>
          <div class="form-group">
            <label for="depto_solicitante">Departamento Solicitante</label>
            <select style="height: max-content;" name="depto_solicitante" id="depto_solicitante" required>
              <option value="" disabled selected>Seleccione un Departamento</option>
              {% for depto in departamentos %}
                <option value="{{ depto.id }}">{{ depto.nombre }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="nombreSolicitante">Nombre del Solicitante</label>
            <input type="text" name="nombre_solicitante" id="nombreSolicitante" placeholder="Nombre y apellido" required />
          </div>
          <div class="form-group">
            <label for="numeroIngreso">N° de Ingreso</label>
            <input type="number" name="numero_ingreso" id="numeroIngreso" required />
          </div>
          <div class="form-group">
            <label for="fecha">Fecha</label>
            <input type="date" name="fecha_ingreso" id="fecha" required />
          </div>
          <div class="form-group">
            <label for="funcionarioAsignado">Funcionario asignado a BNUP</label>
            <select style="height: max-content;" name="funcionario_asignado" id="funcionarioAsignado" required>
              <option value="" disabled selected>Seleccione un Funcionario</option>
              {% for funcionario in funcionarios %}
                <option value="{{ funcionario.id }}">{{ funcionario.nombre }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea name="descripcion" id="descripcion" placeholder="Ingrese la descripción" rows="4"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>
    <div class="tableInfor_container">
      <div>
        <div class="tittleTable">
          <!-- Campo de búsqueda y tabla de solicitudes por Memo -->
          <h3>Solicitudes por Memo</h3>
          <input type="text" id="searchMemo" placeholder="Buscar en Memo..." class="search-input" />
          <div id="paginationMemo" class="pagination"></div>
        </div>
        <table id="tablaSolicitudesMemo" border="1" cellpadding="5" cellspacing="0" style="margin-top: 20px;">
          <thead>
            <tr>
              <th class="shadow" data-type="number">N° Ingreso</th>
              <th class="shadow" data-type="number">N° Memo</th>
              <th class="shadow" data-type="string">Departamento</th>
              <th class="shadow" data-type="string">Solicitante</th>
              <th class="shadow" data-type="date">Fecha</th>
              <th class="shadow" data-type="string">
                Funcionario <br />Asignado
              </th>
            </tr>
          </thead>
          <tbody>
            {% for solicitud in solicitudes_memo %}
              <tr>
                <td>{{ solicitud.numero_ingreso }}</td>
                <td>{{ solicitud.numero_memo }}</td>
                <td>{{ solicitud.depto_solicitante.nombre }}</td>
                <td>{{ solicitud.nombre_solicitante }}</td>
                <td class="fechaTable">{{ solicitud.fecha_ingreso|date:'d/m/Y' }}</td>
                <td>{{ solicitud.funcionario_asignado.nombre }}</td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="7">No hay solicitudes por Memo</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div>
        <!-- Campo de búsqueda y tabla de solicitudes por Correo -->
        <div class="tittleTable">
          <h3>Solicitudes por Correo</h3>
          <input type="text" id="searchCorreo" placeholder="Buscar en Correo..." class="search-input" />
          <div id="paginationCorreo" class="pagination"></div>
        </div>
        <table id="tablaSolicitudesCorreo" border="1" cellpadding="5" cellspacing="0" style="margin-top: 20px;">
          <thead>
            <tr>
              <th class="shadow" data-type="number">N° Ingreso</th>
              <th class="shadow" data-type="string">
                Correo <br />Solicitante
              </th>
              <th class="shadow" data-type="string">Departamento</th>
              <th class="shadow" data-type="string">Solicitante</th>
              <th class="shadow" data-type="date">Fecha</th>
              <th class="shadow" data-type="string">
                Funcionario <br />Asignado
              </th>
            </tr>
          </thead>
          <tbody>
            {% for solicitud in solicitudes_correo %}
              <tr>
                <td>{{ solicitud.numero_ingreso }}</td>
                <td>{{ solicitud.correo_solicitante }}</td>
                <td>{{ solicitud.depto_solicitante.nombre }}</td>
                <td>{{ solicitud.nombre_solicitante }}</td>
                <td class="fechaTable">{{ solicitud.fecha_ingreso|date:'d/m/Y' }}</td>
                <td>{{ solicitud.funcionario_asignado.nombre }}</td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="7">No hay solicitudes por Correo</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
