<div class="cardContent">
  <div class="card-details">
    <div class="statistics">
      <div class="tittleStatistics">
        <button id="backToBNUP" class="btn-back"><span class="material-symbols-outlined">arrow_back</span> Volver a Solicitudes</button>
        <h2>Estadísticas de Solicitudes</h2>
      </div>
      <div class="divStatistics">
        <div class="subDivStatics">
          <!-- Gráfico de solicitudes por tipo de solicitud -->
          <div class="containerStatistics" style="max-height: 50%;">
            <p id="solicitudesPorTipoSolicitud" style="display:none;">{{ solicitudes_por_tipo_solicitud|safe }}</p>
            <canvas id="tipoSolicitudChart"></canvas>
          </div>
          <div style="display: flex;height: 50%;gap: 1rem;">
            <!-- Gráfico de solicitudes por funcionario -->
            <div class="containerStatistics" style="display: flex;align-items: flex-end;">
              <p id="solicitudesPorFuncionario" style="display:none;">{{ solicitudes_por_funcionario|safe }}</p>
              <canvas id="funcionarioChart"></canvas>
            </div>
            <!-- Gráfico de solicitudes por tipo de recepcion -->
            <div class="containerStatistics" style="display: flex;align-items: flex-end;">
              <p id="solicitudesPorTipo" style="display:none;">{{ solicitudes_por_tipo_recepcion|safe }}</p>
              <canvas id="tipoChart"></canvas>
            </div>
          </div>
        </div>
        <div class="subDivStatics">
          <!-- Indicadores de totales -->
          <div class="containerStatistics" style="display: flex;max-height: 25%;gap: 1rem;">
            <div class="cardTotalEstadisticas">
              <div class="contentEstadisticas">
                <h3>Total de Entradas</h3>
                <p>{{ total_solicitudes }}</p>
              </div>
            </div>
            <div class="cardTotalEstadisticas inverse">
              <div class="contentEstadisticas">
                <h3>Total de Salidas</h3>
                <p>{{ total_salidas }}</p>
              </div>
            </div>
          </div>
          <div class="containerStatistics">
            <p id="solicitudesPorDepto" style="display:none;">{{ solicitudes_por_depto|safe }}</p>
            <canvas id="deptoChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
